* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;           
}

.hidden {
    display: none;
  }
  .container-main-gallery-flip-card-back-types-content {
    content: "Grass";
    

  }


// media-queries
@media (min-width: 411px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 820px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1020px){
}
@media (min-width: 1160px){
}
@media (min-width: 1300px){
}
@media (min-width: 1450px){
}
@media (min-width: 1625px){
}
@media (min-width: 1750px){
}
@media (min-width: 1825px){
}
@media (min-width: 1900px){
}



